#jinja2: lstrip_blocks: "True"
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    # utilize system-wide crypto-policies
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

# Set up userlists here.

userlist default_users
  group admins users admin
  user admin insecure-password admin

listen stats 
        bind 0.0.0.0:22002
        mode http

        # Stats configuration
        stats hide-version
        stats enable
        stats uri /
        stats refresh 60s
        acl is_read_only_user http_auth(default_users)
        acl is_admin_user http_auth_group(default_users) admins
        stats refresh 60s
        stats http-request auth realm HAProxy\ Statistics unless is_read_only_user
        stats admin if is_admin_user

frontend www-http-web
        bind {{ keepalived_virtualip }}:80

        # Default backend
        default_backend web

# If you want ssl frontend uncomment following block - You also need to uncomment tasks in main.yml playbook and add certificates into var directory
#frontend www-https-web
#        bind {{ keepalived_virtualip }}:443 ssl crt /etc/ssl/private/wildcard_beabloo.pem
#
#        # Add X-Forward-For header
#        option forwardfor
#
#        # Default backend
#        default_backend cms

backend web
{% for host in groups['webservers'] %}
        server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_default_ipv4']['address'] }}:80 check
{% endfor %}
        balance roundrobin
        
        http-request set-header X-Forwarded-Port %[dst_port]
        http-request add-header X-Forwarded-Proto https if { ssl_fc }        
