vrrp_script chk_haproxy {
        script "pidof haproxy"
        interval {{ keepalived_interval }}
}

vrrp_instance lb_1 {
   interface {{ keepalived_interface }}	                                # interface to monitor
   state {{ keepalived_MASTER_SLAVE }}
   priority {{ keepalived_priority }}	                                # 200 on master, 100 on backup

   virtual_router_id {{ keepalived_virtual_router_id }}          	    # Assign one ID for this route   
   virtual_ipaddress {
       {{ keepalived_virtualip }} 	                                    # peer IP
   }
   track_script {
       chk_haproxy
   }
}
